body {
  background-image: linear-gradient($primary-purple, $primary-yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 80%;
  color: $tertiary-yellow;
}

.button-container {
  display: flex;

  &__leftButton,
  &__rightButton {
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: $primary-purple;
    color: $primary-yellow;
  }
}

.button-reset {
  width: 100px;
  height: 30px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: $primary-yellow;
  color: $primary-purple;
}
